{% extends "app/layout.html" %}
    
{% block content %}{% load staticfiles %}
       

      <div class="images">
          <div class="client1">
      <a href ="https://www.biomechatronics.ca/" target="_blank"> <img src="{% static 'app/content/product/4.jpg' %}" alt="Logo 1"/></a>
          <p>Adidas (немецкий: [adiˌdas]; стилизованно под adidas с 1949 года) — немецкая транснациональная компания по производству спортивной одежды, обуви и аксессуаров. Это крупнейший производитель спортивной одежды в Европе и второй по величине в мире после Nike. Это холдинговая компания для Adidas Group, которая состоит из Reebok и Runtastic. Выручка Adidas за 2018 год составила 21,915 миллиарда евро.</p></div>
      <div class="client2">
          <a href ="https://www.utwente.nl/" target="_blank"> <img src="{% static 'app/content/product/6.jpg' %}" alt="Logo 2"/></a>
          <p>Nike (['naɪkɪ], «Найк») — американская транснациональная компания, специализирующаяся на спортивной одежде и обуви. Штаб-квартира — в городе Бивертон (штат Орегон). Почти вся продукция Nike производится сторонними компаниями-подрядчиками вне территории США (в основном в Азии), сама компания является правообладателем торговых марок, разрабатывает дизайн продукции и владеет сетью магазинов (около 1150 по всему миру), а также торговых центров NikeTown. С 20 сентября 2013 года входит в Промышленный индекс Доу Джонса. Nike является самым дорогим спортивным брендом в мире (по мнению Forbes).</p></div>
      <div class="client3">
          <a href ="https://www.autodesk.com/" target="_blank"> <img src="{% static 'app/content/product/5.jpg' %}" alt="Logo 3"/></a>
          <p>"Reebok International Limited (ˈriːbɒk) — американская компания по производству спортивной одежды, обуви и аксессуаров. Штаб-квартира расположена в Бостоне (штат Массачусетс). С 2005 года является дочерним подразделением компании Adidas. Reebok производит и распространяет спортивную одежду для фитнеса, бега и кроссфита, включая аксессуары и обувь. Это официальный спонсор обуви и одежды для CrossFit и Spartan Race.</p></div>
      </div>

      
   
{% endblock %}

